.itemWrapper {
    display: flex;
    background-color: white;
    padding: 20px;
    width: fit-content;
    text-align: left;
}

.views{
    padding: 10px;
    border-right: grey 1px solid;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.question {
    color:var(--blueoficeland);
    font-size: large;
    font-weight: 500;
}

.askedby {
    color: lightgrey;
    margin-bottom: 10px;
}

.tag span {
    border-radius: 15px;
    background-color: var(--blueoficeland);
    color:white;
    padding: 8px;

    margin-right: 10px;
}
  